html {
  overflow: hidden;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/game_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
#header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9a35a;
  padding: 0 2em;
  background-color: rgb(0, 92, 170, 0.5);
}

.value {
  color: #ffea8b;
}

#game-area {
  cursor: url("/assets/aim_red-64x64px.png") 32 32, auto;
  user-select: none;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

#gun-area {
  user-select: none;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

#gun {
  height: 250px;
  position: fixed;
  bottom: -1px;
}

#congratulations-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 30%;
  padding: 20px;
  text-align: center;
  background-color: #005caa;
  border-radius: 12px;
  color: #f9a35a;
}

.close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #f9a35a;
  border: thick solid #ffea8b;
  border-radius: 12px;
  font-weight: 900;
  color: #005caa;
}

.close-btn:hover {
  background-color: #d9823a;
  border-color: #e5d176;
  color: darkred;
}

#home-button {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #ffea8b;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #005caa;
  z-index: 1000; /* Agar selalu terlihat di atas elemen lain */
}

#home-button:hover {
  background-color: #e5d176;
  color: darkred;
}
